# Dado bruto grande demais para o GitHub (baixar manualmente - ver README)
data/raw/alunos.csv

# Dados gerados pelo pipeline ( rodando os scripts em src/preprocessing)
# Apenas a camada bronze n vai para o rep
# a camada silver vai para o rep, permitindo rodar o projeto a partir 
# da modelagem com os dados salvos
data/bronze/


# Ambiente Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Modelos e artefatos grandes (adicionar exceções pontuais se precisar versionar algum)
*.pkl
*.joblib
